*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:50px 30px;
    background-color: rgb(211, 211, 219);
}
img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    gap: 50px;
}
.row{
    display: flex;
    gap: 15px;
   
}
h1{
    color:white;
    background-color: rgb(51, 51, 56);
    font-size: 50px;
    padding: 30px 50px;
    
}
.gallery{
    display: flex;
    background-color: rgb(86, 86, 131);
    
    

}
.col{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
button{
    padding: 15px 50px;
    color: white;
    background-color:  rgb(51, 51, 56);
    font-size: 20px;
}
button:hover{
    background-color:rgb(80, 80, 128) ;
    cursor: pointer;
}






@media screen and (max-width:750px){
    .row{
        flex-direction: column;
    }
    h1{
        font-size: 50px;
    }
}