.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 16px;

  margin-bottom: 24px;
}

.title {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);

  color: var(--color-text);
}

.subtitle {
  margin-top: 4px;

  color: var(--color-text-secondary);

  font-size: var(--font-size-sm);
}

.rightContent {
  display: flex;
  align-items: center;
  gap: 12px;
}