.container {
  width: 100%;
  max-width: var(--container-width);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}